* {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: 24px;
}

table, th, td {
    border: 1px solid black;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    user-select: none;
}

.label-cell {
    color: white;
    background-color: coral;
}

.pre-filled {
    background-color: lightgray;
}

.selected-cell {
    background-color: lightblue;
}

.selectable {
    cursor: pointer;
}

.error {
    color: red;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-area {
    display: flex;
    flex-direction: row;
}

.play-area * + * {
    margin-left: 30px;
}

.error-messages {
    color: red;
}

.size-input, .start-button {
    font-size: 20px;
}

.buttons-area {
    margin-top: 20px;
}

.buttons-area button {
    font-size: 24px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}